<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/styles/styles.css")
    body
        .app
            .appcol__1
            .appcol__2
            .appcol__3
                .appcol__3__1
                .appcol__3__2
